html {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, p {
    color: white;
}

.container {
    columns: 2;

}

.center-fully {
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
